#body {
    height: 750px;
    width: auto;
    margin-left: 30px;
}
#body .blue {
    height: 145px;
    width: 145px;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    display: inline-block;
    border: 10px solid lightskyblue;
    outline: 3px solid black;
}
#body .red {
    height: 145px;
    width: 145px;
    margin: 5px 0px 0px 5px;
    padding: 10px;
    margin-right: 5px;
    display: inline-block;
    background-color: rgb(245, 94, 94);
    outline: 3px solid black;
}